* {
    font-family: Arial;
}

h1, h3 {
    font-style: Geneva;
    color: blue;
}

header {
    background-image: url("https://images.unsplash.com/photo-1470125634816-ede3f51bbb42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3Vuc2V0JTIwcGFub3JhbWF8ZW58MHx8MHx8&w=1000&q=80");
    background-size: cover;
    text-decoration-color: white;

}
#sub-title{
    background-color: rgb(236, 221, 250);
    padding: 1rem;
    margin: 0, 0, 0, 0;
}
.subheading {
    background-color: white;
    padding: 1rem;
}

body {
    background-color: #73c9da;
}

#first-article {
    background: linear-gradient(0DEG, rgba(255,255,255,1) 0%, rgba(9,9,121,0) 35%, rgba(115,201,218,0.8) 100%);
}


/* link styles */
a {
    text-decoration: none;
    
}

a:hover {
    color: red;
}
